
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Mockups</h1>
    <ul style="list-style-type:disc; padding-top:0px;">
        <li><a asp-area="" asp-controller="QuizService" asp-action="Quiz">Quiz</a></li>
        <li><a asp-area="" asp-controller="QuizService" asp-action="ShowResults">QuizResult</a></li>   
    </ul>
</div>

