
@{
    ViewData["Title"] = "ManualWithSeparateHandlers";
}

<style>
#resultPage{
    display:none;
}

#formNumber{
    display:block;
}
</style>

<div>
    <h1 class="display-4" id="formNumbersText">ManualWithSeparateHandlers</h1>
    <form method = "post" id="formNumbers" name="numberForm">
        <input type="number" name="firstNumber"/>
        <select name="operation" id="opers">
            <option value="plus" selected="selected">+</option>
            <option value="minus">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="number" name="secondNumber"/>
        <input type="submit" value="Sumbit"/>
    </form>
    <div id="resultPage">
        <h1 class="display-4">Result</h1>
        <h2><span id="numberOne"></span> <span id="operator"></span> <span id="numberTwo"></span> = <span id="result"></span></h2>
    </div>
</div>

<script>

    async function ServerAction(numone, numtwo, opertype)
    {

        document.getElementById("formNumbersText").textContent = "Getting response";
       
        var opertext = "";
        var oper = "";

        if(opertype == 0)
        {
        opertext = "plus";
        oper = "+";
        }
        else if(opertype == 1)
        {
        opertext = "minus";
        oper = "-";
        }
        else if(opertype == 2)
        {
        opertext = "multiply";
        oper = "*";
        }
        else if(opertype == 3)
        {
        opertext = "divide";
        oper = "/";
        }

        const response = await fetch("/api/opers/"+opertext+"/"+parseInt(numone)+"/"+parseInt(numtwo),{
            method:"GET",
            headers:{"Accept":"application/json"}
        });

        if(response.ok===true){
            const result = await response.text();
            ShowResult(numone, numtwo, result, oper); 
        }
    }

    function ShowResult(numOne, numTwo, result, oper)
    {
        document.title = "Result";
        document.getElementById("formNumbers").style.display = "none";
        document.getElementById("formNumbersText").style.display = "none";
        document.getElementById("resultPage").style.display = "block";
        document.getElementById("numberOne").textContent = numOne;
        document.getElementById("numberTwo").textContent = numTwo;
        document.getElementById("operator").textContent = oper;
        document.getElementById("result").textContent = result;
    }

    document.forms["numberForm"].addEventListener("submit",e=>{
        e.preventDefault();
        
        const form = document.forms["numberForm"]
        const numberOne = form.elements["firstNumber"].value;
        const numberTwo = form.elements["secondNumber"].value;
        var sOper = document.getElementById("opers").selectedIndex;

        ServerAction(numberOne, numberTwo, sOper);
    });

    
    
    
</script>