
@{
    ViewData["Title"] = "Controls";
}

<div>
    <h1 class="display-4">Controls</h1>
    <ul style="list-style-type:disc; padding-top:0px;">
        <li><a asp-area="" asp-controller="LoginService" asp-action="TextBox">TextBox</a></li>
        <li><a asp-area="" asp-controller="LoginService" asp-action="TextArea">TextArea</a></li>   
        <li><a asp-area="" asp-controller="LoginService" asp-action="CheckBox">CheckBox</a></li>   
        <li><a asp-area="" asp-controller="LoginService" asp-action="Radio">Radio</a></li>   
        <li><a asp-area="" asp-controller="LoginService" asp-action="DropDownList">DropDownList</a></li>   
        <li><a asp-area="" asp-controller="LoginService" asp-action="ListBox">ListBox</a></li>   
    </ul>
</div>

