@model Web4.Models.SecondRegisterStageModel

@{
    ViewData["Title"] = "Sign Up";
}

<style>
#Button{
    margin-top:15px;
}

#InputDiv{
    margin-bottom:15px;
}
</style>


<div>
    <h1>Sign Up</h1>
    <form method = "post" id="formTextBox" name="formTextBox" action="">

        <div id="InputDiv">
            <label for="input">Email</label>
            <input type="text" asp-for="email" class="form-control" id="input"/>
            <span asp-validation-for="email"></span>
        </div>

        <div id="InputDiv">
            <label for="input">Password</label>
            <input type="password" asp-for="password" class="form-control" id="input"/>
            <span asp-validation-for="password"></span>
        </div>

        <div id="InputDiv">
            <label for="input">Confirm password</label>
            <input type="password" asp-for="confirmPassword" class="form-control" id="input"/>
            <span asp-validation-for="confirmPassword"></span>
        </div>

         <div id="InputDiv">
        <input type="checkbox" asp-for="remember"> Remember?
        </div>

        <input type="submit" value="Complete sign up" formaction="SignUp" class="btn btn-primary"/>
    </form>
</div>

@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}