
@{
    ViewData["Title"] = "ModelBindingInParameters";
}

<div>
    <h1 class="display-4">ModelBindingInParameters</h1>
    <form method = "post">
        <input type="number" name="firstNumber" />
        <select name="operation">
            <option value="plus">+</option>
            <option value="minus">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="number" name="secondNumber" />
        <input type="submit" value="Sumbit" />
    </form>
</div>

