
@{
    ViewData["Title"] = "ModelBindingInSeparateModel";
}

<div>
    <h1 class="display-4">ModelBindingInSeparateModel</h1>
    <form method = "post">
        <input type="number" name="NumberOne" />
        <select name="OperType">
            <option value="plus">+</option>
            <option value="minus">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="number" name="NumberTwo" />
        <input type="submit" value="Sumbit" />
    </form>
</div>

